<style type="text/css" media="screen">
    <%= ".#{category.name}" %>{
        background: <%= category.color %> !important;
    }
</style>
<div class="col-md-3">
    <div class="jumbotron <%= "#{category.name}"%> ">
        <h2><%= category.name %></h2>
        <%="Contiene #{category.articles.count} artiulo(s)"%>
        <p>Sorry about that. Please try refreshing and contact us if the problem persists.</p>
    </div>
</div>
