<style type="text/css" media="screen">
    .jumbotron{
        background: <%= @category.color %> !important;
    }
</style>

<div class="jumbotron">
  <% if !@category.user.nil?%>
       <p>
        <strong>Creado por:</strong>
        <%= @category.user.email %>
      </p>
   <% end %>
  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>
  
  <p>
    <strong>Color:</strong>
    <%= @category.color %>
  </p>
  
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
