<div class="container-fluid">
    <div class="row">
        <% @articulos.each do |articulo|%>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="jumbotron">
                    <h1><%= link_to articulo.title,articulo %></h1>
                    <p><%= truncate(articulo.body,length:450)%></p>
                    <%temporal="Categorias: "%>
                    <% articulo.categories.each do |category|%>
                        <%temporal="#{temporal} #{category.name} "%>
                    <%end%>
                    <p><%=temporal%></p>

                    <% if user_signed_in? %>
                        <%if current_user.is_editor?%>
                        <%= link_to "Editar", edit_article_path(articulo), class:"btn btn-warning"%>
                        <%end%>
                        <%if current_user.is_admin?%>
                        <%= link_to"Eliminar #{articulo.title}", articulo, method: :delete, data:{confirm: "Estas seguro de eliminar el articulo?"} , class:"btn btn-danger" %>
                        <%end%>
                    <%end%>
                </div>
            </div>
        <%end%>
    </div>
</div>