<h1>Nuevos articulos</h1>

<%= form_with(model:@article) do |form|%>
    <%= form.label "Titulo" %>
    <%= form.text_field :title %>
    <%= form.label "Cuerpo" %>
    <%= form.text_area :body %>
    <%= form.submit "Ok" %>
    
<%end%>